// ---------------------------------------------------------
// ASSEMBLAGE DES FEUILLES DE STYLES
// ---------------------------------------------------------
@use "../abstracts/variables" as *;

// ---------------------------------------------------------
// RÈGLES .CONTENEUR
// ---------------------------------------------------------
.conteneur {
  width: 100%;
  max-width: $largeur-conteneur;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

// ---------------------------------------------------------
// RÈGLES .ICONE
// ---------------------------------------------------------
.icone {
  display: inline-block;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
}

// ---------------------------------------------------------
// RÈGLES .ICONE--PRIMAIRE
// ---------------------------------------------------------
.icone--primaire {
  filter: invert(43%) sepia(92%) saturate(1598%) hue-rotate(166deg) brightness(86%) contrast(101%);
}

// ---------------------------------------------------------
// RÈGLES .ICONE--ETOILE
// ---------------------------------------------------------
.icone--etoile {
  width: 13px;
  height: 13px;
  filter: invert(69%) sepia(99%) saturate(1394%) hue-rotate(357deg) brightness(99%) contrast(95%);
}

// ---------------------------------------------------------
// RÈGLES .ICONE--ETOILE-VIDE
// ---------------------------------------------------------
.icone--etoile-vide {
  width: 13px;
  height: 13px;
  filter: brightness(0) saturate(100%) invert(90%) sepia(7%) saturate(623%) hue-rotate(177deg) brightness(95%) contrast(89%);
}

// ---------------------------------------------------------
// ADAPTATION AUX TAILLES D’ÉCRAN
// ---------------------------------------------------------
@media (min-width: $point-rupture-tablette) {
  .conteneur {
    padding-right: 24px;
    padding-left: 24px;
  }
}
