// ---------------------------------------------------------
// ASSEMBLAGE DES FEUILLES DE STYLES
// ---------------------------------------------------------
@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: $couleur-blanc-casse;
  color: $couleur-bleu-nuit;
  font-family: $police-texte;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

button,
select,
input,
textarea {
  font: inherit;
}

button,
select,
input[type="checkbox"] {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}
