@use "variables" as *;

@mixin contour-navigation-clavier {
  outline: 2px solid $couleur-cyan;
  outline-offset: 2px;
}

@mixin surface-carte {
  background: $couleur-blanc;
  border: 1px solid $couleur-ardoise-200-80;
  border-radius: $rayon-standard;
  box-shadow: $ombre-legere;
}
